*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $ff-sans-normal;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: $color-white;
  background-color: $color-dark;

  @include respond(tab) {
    font-size: 1.6rem;
  }

  @include respond(lap) {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

// Remove all animations for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
