/* general */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-space, 1.6rem);

  // @include respond(tab) {
  //   margin-bottom: var(--flow-space, 2.4rem);
  // }
}

.grid-container {
  min-height: 100vh;
  padding-inline: 2.4rem;
  padding-top: 8.8rem;
  display: grid;
  text-align: center;
  place-items: center;
  background-size: cover;
  background-position: bottom center;

  p {
    max-width: 45ch;
    margin-inline: auto;
  }

  @include respond(lap) {
    // column-gap: 3rem;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 64rem)) minmax(
        2rem,
        1fr
      );
    text-align: left;
  }
}

.grid-container > *:first-child {
  @include respond(lap) {
    grid-column: 2;
  }
}

.grid-container > *:last-child {
  @include respond(lap) {
    grid-column: 3;
  }
}

// To hide information intended only for screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-dark {
  background-color: $color-dark;
}
.bg-accent {
  background-color: $color-light;
}
.bg-white {
  background-color: $color-white;
}

.text-dark {
  color: $color-dark;
}
.text-accent {
  color: $color-light;
}
.text-white {
  color: $color-white;
}

/* typography */
.ff-serif {
  font-family: $ff-serif;
}
.ff-sans-cond {
  font-family: $ff-sans-cond;
}
.ff-sans-normal {
  font-family: $ff-sans-normal;
}

.ls-1 {
  letter-spacing: 4.75px;
}
.ls-2 {
  letter-spacing: 2.7px;
}
.ls-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}
