/* color */
$color-dark: #0b0d17;
$color-light: #d0d6f9;
$color-white: #fff;

/* font-families */
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;
